#adicional{
    font-size: 16px;
    position: relative;
    margin-top: 10rem;
    padding: 0%;
}

.movimiento{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: .4;
    position: absolute;
    z-index: 1;
}

.informacion{
    margin-top: 4rem;
    color: white;
    z-index: 2;
}

.adicional__h{
    margin-top: 2rem;
    font-size: 14px;
    text-transform: uppercase;
}

.adicional__p{
    margin-top: 1rem;
    font-size: 28px;
    font-weight: bolder;
    text-align: justify;
}

.adicional__info{
    margin-top: 4rem;
    text-align: justify;
}


/*Son medias query y sirven para hacer modificaciones en las páginas web, dependiendo de la resolución en la que estemos*/
/*Medida XL*/
@media (min-width: 1200px) {
}

/*TELÉFONO CELULAR LG*/
@media (max-width: 1199px) and (min-width: 992px){
}

/*TELÉFONO CELULAR MD*/
@media (max-width: 991px) and (min-width: 768px){
}

/*TELÉFONO CELULAR SM*/
@media(max-width: 767px) and (min-width: 576px){
    #adicional{
        font-size: 14px;
        margin-top: 35rem;
    }
}

/*TELÉFONO CELULAR XS*/
@media (max-width: 575px){
    #adicional{
        font-size: 12px;
        margin-top: 38rem;
    }

    .movimiento{
        height: 400px;
    }

    .informacion{
        margin-top: 2rem;
    }
}