.cabezote {
    position: fixed;
    top: 0;
    font-size: 16px;
    background-color: var(--color-heart5);
    /*height: 110px;*/
    z-index: 10;
  }
  
.logo{
    height: 100px;
    margin-top: 0.5rem;
    object-fit: cover;
  }
  
  
.opciones {
    height: 110px;
    text-align: right;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
#ini {
    color: #D91414;
    font-weight: bold;
    /*&::after
                      background-color: $heart1
                      width: 100%
                      height: 5rem*/
  }
  
.url{
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  
.boton{
    background-color: #590B0B;
    margin-top: 2rem;
    height: 3rem;
    width: 10rem;
    border: 1px solid;
    color: #D91414;
    font-weight: bold;
  }
  
.escribenos{
    color: white;
    line-height: 2.6rem;
  }
  
  /*Son medias query y sirven para hacer modificaciones en las páginas web, dependiendo de la resolución en la que estemos*/
  /*Medida XL*/
@media (min-width: 1200px) {
  }

  /*TELÉFONO CELULAR LG*/
  @media (max-width: 1199px) and (min-width: 992px){  
    .boton{
      float: right;
    }
  }

  /*TELÉFONO CELULAR MD*/
  @media (max-width: 991px) and (min-width: 768px){
    .cabezote{
      font-size: 14px;
    }

    .logo{
      width: 100%;
    }

    .boton{
      width: 7rem;
      margin-left: 25%;
    }

  }

  /*TELÉFONO CELULAR SM*/
  @media(max-width: 767px) and (min-width: 576px){
    .cabezote{
      font-size: 14px;
    }

    .cabezote__a{
      padding: 0%;
    }

    .logo{
      height: 70px;
      width: 100%;
      margin-top: 1.2rem;
    }

    .cabezote__b{
      padding: 0%;
    }

    .url{
      font-size: 14px;
    }

    .cabezote__c{
      padding: 0%;
    }

    .boton{
      margin-left: 22%;
      width: 6rem;
    }
  }

  /*TELÉFONO CELULAR XS*/
  @media (max-width: 575px){
    .cabezote{
      font-size: 12px;
    }

    .logo{
      height: 80px;
      margin-top: 1.5rem;
    }

    .boton{
      width: 7rem;
      margin-top: 2.5rem;
      float: right;
    }
  }