#footer{
    position: relative;
    margin-top: 5rem;
    font-size: 16px;
    background-color: var(--color-heart5);
    
}

.contactos{
    padding: 0%;
}

.footer__info{
    text-align: right;
}

.contactos, .redes, .info{
    margin-top: 3rem;
    color: white;
    list-style: none;
}

.footer__redes{
    margin-top: 2rem;
}

.redes{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.footer__sub{
    color: var(--color-heart2);
    font-weight: bold;
}

.footer__final{
    background-color: var(--color-heart4);
    backface-visibility: visible;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 200%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 50% 200%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 200%);
    margin-top: 2rem;
    height: 1.5rem;
    padding: 0%;
}

.copy__p{
    color: white;
    text-align: center;
}

.bp{
    color: var(--color-heart2);
    text-decoration: none;
    font-weight: bold;
}


/*Son medias query y sirven para hacer modificaciones en las páginas web, dependiendo de la resolución en la que estemos*/
/*Medida XL*/
@media (min-width: 1200px) {
}

/*TELÉFONO CELULAR LG*/
@media (max-width: 1199px) and (min-width: 992px){
}

/*TELÉFONO CELULAR MD*/
@media (max-width: 991px) and (min-width: 768px){
}

/*TELÉFONO CELULAR SM*/
@media(max-width: 767px) and (min-width: 576px){
    #footer{
        font-size: 14px;
        margin-top: 7rem;
    }

    .copy__p{
        font-size: .75em;
        line-height: 1.5rem;
    }
}

/*TELÉFONO CELULAR XS*/
@media (max-width: 575px){
    #footer{
        font-size: 12px;
        margin-top: 3rem;
    }

    .footer__final{
        margin-top: 1rem;
        height: 1.1rem;
    }

    .copy__p{
        font-size: .41rem;
        line-height: 1.1rem;
    }

    .redes{
        float: right;
        margin-top: -.7rem;
        font-size: 12px;
    }

    .icono{
        margin-right: .5rem;
    }
}