body{
  background-color: var(--color-heart5)!important;
}

:root{
    --color-heart1: #D91414;
    --color-heart2: #BF1111;
    --color-heart3: #590B0B;
    --color-heart4: #726f70;
    --color-heart5: #000000;
  }
  
.tSlow{
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


@media (min-width: 1200px){
  .esconder-xl{
      display: none;
  }
}

@media (max-width: 1199px) and (min-width: 992px){
  .esconder-lg{
      display: none;
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .esconder-md{
      display: none;
  }
}

@media(max-width: 767px) and (min-width: 576px){
  .esconder-sm{
      display: none;
  }
}

@media (max-width: 575px){
  .esconder-xs{
      display: none;
  }
}
